.contenido
    margin-bottom: 40px
    justify-content: space-evenly
    contenedor()

.caja
    max-width: 430px
    transition: .5s all .1s linear
    caja-sombra()
    &:hover
        transform: scale(1.05)
    &__contenido
        height: 200px        
        padding: 20px
        background-color: color-claro
        span            
            color: color-secundario
            titulos(fuente2)
        h3            
            font-weight: normal
            titulos(fuente2)
        p
            font-weight: 500
            titulos(fuente1)